<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans        
    http://www.springframework.org/schema/beans/spring-beans.xsd        
    http://code.alibabatech.com/schema/dubbo        
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="order-service-consumer"  />
 
     <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://192.168.195.129:2181" />
 
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />
 
    <!-- 声明需要暴露的服务接口（注意是接口,不是实现类） -->
    <dubbo:reference check="false" id="ConfigDubboServiceRefer" interface="com.test.exam.service.ConfigDubboService" version="ConfigDubboService" timeout="1800000"/>
    <dubbo:reference check="false" id="ConfigDubboServiceCopyRefer" interface="com.test.exam.service.ConfigDubboService" version="ConfigDubboServiceCopy" timeout="1800000"/>
 
    <!-- 这里是具体实现类,id和上面的暴露的服务接口ref要一致,dubbo就是通过这个来注册对应的服务 -->
    <!-- <bean id="goodsService" class="com.zdd.dubbo.provider.GoodsServiceImpl"></bean> -->
    <!-- exam 相关的 -->
   <!--  <dubbo:reference check="false" id="ExamMenusDetailServiceRefer" interface="com.test.exam.service.ExamMenusDetailService" version="ExamMenusDetailService" timeout="1800000"/>
    <dubbo:reference check="false" id="ExamMenusServiceRefer" interface="com.test.exam.service.ExamMenusService" version="ExamMenusService" timeout="1800000"/>
    <dubbo:reference check="false" id="ExamResultsDetailsServiceRefer" interface="com.test.exam.service.ExamResultsDetailsService" version="ExamResultsDetailsService" timeout="1800000"/>
    <dubbo:reference check="false" id="ExamTestHistoryDetailServiceRefer" interface="com.test.exam.service.ExamTestHistoryDetailService" version="ExamTestHistoryDetailService" timeout="1800000"/>
    <dubbo:reference check="false" id="ExamTestHistoryServiceRefer" interface="com.test.exam.service.ExamTestHistoryService" version="ExamTestHistoryService" timeout="1800000"/>
    <dubbo:reference check="false" id="ExamTitleServiceRefer" interface="com.test.exam.service.ExamTitleService" version="ExamTitleService" timeout="1800000"/>
    <dubbo:reference check="false" id="ExamUserServiceRefer" interface="com.test.exam.service.ExamUserService" version="ExamUserService" timeout="1800000"/>
     -->
    
    
</beans>